/*HEADER*/
.header-top {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
}
.header-a {
}
.web {
  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #4d5ae5;
}
.studio {
  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #2e2f42;
}
.header-li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}
.header-info {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 939px;
  top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/*HERO*/
.hero-dark {
  /* Dark-bg */

  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;

  background: #2e2f42;
}
.hero-h {
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;

  /* Header 1 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.hero-but {
  /* Button */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
