:root {
  --text-secondary-color: #2e2f42;
  --text-main-color: #434455;
  --text-white-color: #ffffff;
  --text-footer-color: #f4f4fd;
  --text-logo-blue-color: #4d5ae5;
  --text-logo-ligt-color: #f4f4fd;
  --text-logo-dark-color: #2e2f42;
  --text-hover-link-blue: #404bbf;
  --text-button-color: #4d5ae5;
  --text-button-white-color: #ffffff;

  --bg-color: #ffffff;
  --bg-dark-color: #2e2f42;
  --bg-ligt-grey-color: #f4f4fd;

  --bg-btn-hero: #4d5ae5;
  --bg-btn-hover: #404bbf;

  --bg-btn-filtres: #f4f4fd;
  --bg-btn-hover-filtres: #404bbf;

  --border-color-filtres-btn: #e7e9fc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Common stules */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  background-color: var(--bg-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

/* Logo */

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo-blue-color);
}

.logo-header {
  color: var(--text-logo-dark-color);
}

.logo-footer {
  color: var(--text-logo-ligt-color);
}

/* Section-text */

.section2h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-secondary-color);
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-list {
  display: flex;
  gap: 40px;
}

.div {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-link {
  padding: 24px 0;
}

.header-logo-click {
  color: var(--text-secondary-color);
}
.header-nav-item {
  color: var(--bg-btn-hover);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--text-hover-link-blue);
}

.header-address {
  font-style: normal;
}

.header-address-link {
  font-weight: 400;
  color: var(--text-main-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--text-hover-link-blue);
}

/* Main */

/* Hero section */

.hero {
  padding: 188px 0;
  background-color: var(--bg-dark-color);
}

.hero-h {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-white-color);
}

.hero-button {
  display: block;
  min-width: 169px;
  min-width: 169px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-white-color);
  background-color: var(--bg-btn-hero);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bg-btn-hover);
}

/* Features section */

.features-section {
  padding: 120px 0 120px;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-li {
  width: calc((100% - 72px) / 4);
}

.section-h {
  letter-spacing: 0.02em;
}

.section-logo {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
}

.section-p {
  font-weight: 400;
  letter-spacing: 0.02em;
}

/* What are we doing section */
.what-are-we {
  padding-bottom: 120px;
}
.what-we-h {
  margin-bottom: 72px;
}
.what-we-list {
  display: flex;
  gap: 24px;
}
.what-we-li {
  width: calc((100% - 48px) / 3);
}

/* Our Team section */

.team {
  padding: 120px 0;
  background-color: var(--bg-ligt-grey-color);
}
.team-h {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-li {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  background-color: var(--bg-color);
}

.team-div-image {
  padding: 32px 16px;
}
.team-logo-h {
  text-align: center;
  margin-bottom: 8px;
}
.team-p {
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-secondary-color);
}

.team-text {
  font-weight: 400;
  text-align: center;
}

/* Footer section */

.footer {
  padding: 100px 0;
  background-color: var(--bg-dark-color);
}
.logo-foot {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  color: var(--text-footer-color);
}

/* Portfolio */

.portfolio-title {
  letter-spacing: 0.02em;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-button-color);
  background-color: var(--bg-btn-filtres);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--text-button-white-color);
  background-color: var(--bg-btn-hover-filtres);
}

.portfolio-tit {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
}

.portfolio-text {
  font-weight: 400;
  color: var(--text-main-color);
}
/*IMG*/
.img {
  display: block;
}
