/*body*/
.body {
  /* Main Page */
  background: #ffffff;
}
/*HEADER*/
.header-top {
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.web {
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}
.nav {
}
.header-home {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #2e2f42;

  /* Inside auto layout */
}
.header-portfolio {
  /* Portfolio */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.header-contacts {
  /* Contacts */

  /* Body Medium */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.header-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/*HERO*/
.hero-dark {
  /* Dark-bg */

  height: 150px;
  left: 0px;
  background: #2e2f42;
}
.hero-h {
  /* Header 1 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;

  letter-spacing: 0.02em;

  color: #ffffff;
}
.hero-but {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.04em;
  color: #ffffff;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.section1 {
}
.section1h3 {
  width: 264px;
  height: 24px;

  /* Header 3 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.section1p {
  /* Our goal is to identify the business problem to walk away with the perfect and creative solution. */

  /* Body */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;

  /* Inside auto layout */
}
.section2 {
}
.section2h2 {
  /* Header 2 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.section2img1 {
  /* img 1 */
}
.section2img2 {
  /* img 2 */

  /* Auto layout */
}
.section2img3 {
  /* img 3 */
}
.section3 {
  background: #f4f4fd;
}
.section3h2 {
  /* Our Team */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.section3h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.section3p {
  /* Product Designer */

  /* Body */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;

  /* Inside auto layout */
}
.section3img1 {
  /* Auto layout */

  /* WHITE

Header background, team card background
*/
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section3img2 {
  /* Auto layout */

  /* WHITE

Header background, team card background
*/
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section3img3 {
  /* Auto layout */

  /* WHITE

Header background, team card background
*/
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section3img4 {
  /* Auto layout */

  /* WHITE

Header background, team card background
*/
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  /* Dark-bg */

  /* NAVY BLUE */

  background: #2e2f42;
}
.logofooter {
  /* Logo */
}
.webfooter {
  /* Web */

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: #4d5ae5;

  /* Inside auto layout */
}
.studiofooter {
  /* Studio */

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* CLOUD */

  color: #f4f4fd;

  /* Inside auto layout */
}
.footerp {
  /* Increase the flow of customers and sales for your business with digital marketing & growth solutions. */

  /* Body */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CLOUD */

  color: #f4f4fd;
}
/*PORTFOLIOOOOOOO*/
.menu {
  box-sizing: border-box;

  /* Auto layout */

  /* CLOUD */

  background: #f4f4fd;
  /* CORNFLOWER */

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
